<div class="tabContent tableContent">
    <div class="detailSearch no-print">
        <input class="searchInp" name="searchInp" ng-model="searchInp" required ng-init="" key-up keyup-search="keyWordSearch()"/>
        <button class="btn btnColor searchBtn" ng-click="keyWordSearch()">Search</button>
    </div>
    <div class="contentLeft">
        <div ui-grid="gridOptions1" class="grid fade in" ui-grid-selection ui-grid-pagination></div>
    </div>
    <div class="usedIn">
        <p class="comments">Used in:</p>
        <div ui-grid="gridOptions2" class="grid commentsTab" ui-grid-selection ui-grid-pagination></div>
    </div>
    <div class="contentRight">

        <div class="contentRightbody">
            <p class="comments" ng-show="selectedName">Columns/Fields: {{selectedName}}</p>
            <div ui-grid="gridOptions3" class="grid commentsTab" ui-grid-selection ui-grid-pagination></div>
        </div>
    </div>
    <tag-directive></tag-directive>
</div>