body{
    background-color:#EAEEF2;
}
.mainPage{
    padding:0 30px;
}
.title{
    font-size: 16px;
    margin: 30px 0 20px 0;
    padding-left: 30px;
}
.searchBox{
    position: relative;
}
.searchCondition{
    float: left;
    width:500px;
}
.searchCondition input[type='radio']{
    display: none;
    margin:0 5px 0 0 !important;
    vertical-align:text-bottom;
    cursor:pointer;
}

.searchCondition label{
    position: relative;
    padding-left: 25px;
    width:125px;
    margin-top:5px;
    color:#333;
    cursor:pointer;
    font-weight: normal;
}
.searchCondition label:before{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    box-shadow: inset 0px 0px 4px 0px rgba(111, 172, 244, 1);
}
.searchCondition label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #6FACF4;
    font-size: 32px;
    text-align: center;
    line-height: 18px;
}
.ifTags{
    margin:0 5px 0 0 !important;
    vertical-align:text-bottom;
    cursor:pointer;
}
input[type=checkbox]  {  
    display: inline-block;  
    vertical-align: middle;  
    width: 20px;  
    height: 20px;  
    margin:0;  
    -webkit-appearance: none;  
    background-color: transparent;  
    border: 0;  
    outline: 0 !important;  
    line-height: 20px;  
    color: #d8d8d8;  
}
input[type=checkbox]:after  {  
    content: "";  
    display:block;  
    width: 20px;  
    height: 20px;  
    text-align: center;  
    line-height: 14px;  
    font-size: 16px;  
    color: #fff;  
    border: 1px solid #6FACF4;  
    background-color: #fff;  
    box-sizing:border-box;  
}  
input[type=checkbox]:checked:after  {  
    content: "\2713";
    color:#6FACF4;
    font-size: 20px;
    font-weight: 600x;
}
.searchCondition input[type='text']{
    width:300px;
    height:40px;
    line-height: 40px;
    padding:0 5px;
}
.searchCondition textarea{
    width:300px;
    height:100px;
    resize:none;
    padding:5px;
    vertical-align: top;
}
.tagsSelect{
    margin-top:10px;
}
.tagsSelect label{
    font-weight: normal;
    margin:0;
    vertical-align: middle;
}
.searchBox .multiselect{
    display:inline-block;
    width:400px;
    margin-left:10px;
}
.searchBox .multiselect .ng-binding{
    padding-left:5px;
}
.multiselect .radio, .multiselect .checkbox{
    margin:0 5px 0 0;
}
.multiselect input[type="checkbox"]{
    margin-top:0 !important;
}
.multiselect button{
    border-radius: 0;
}
.searchBtn{
    position:absolute;
    top:110px;
    left:785px;
    width: 140px;
    height: 40px;
    background: #1580FF;
    border:none;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    display: block;
}
.disabledBtn{
    background: #A2B5CC !important;
    box-shadow:0px 0px 7px #DCE3EA;
}
.mainResult{
    height:550px;
    border:1px solid #DCE1E6;
}
.resultTable{
    position: relative;
    float:left;
    width:50%;
    height:100%;
    overflow:auto;
}
.resultTable .fixedThead table{
    background-color: #EFF4FB;
}
.resultTable table{
    width:100%;
}
.resultTable .tableContent{
    height:508px;
    overflow:auto;
    background-color: #fff;
}
.resultTable table th{
    height:40px;
    border-top:none;
    text-align: center;
    font-weight: normal;
    color:#7D8793;
}
.resultTable table td{
    height:40px;
    text-align: center;
    word-wrap : break-word;
}
table tbody tr:nth-child(odd) {
  background-color: #F8F9FA;
}
table tbody .selectedTr{
    background-color: #76A5E9 !important;   
}
.resultDiv{
    float:left;
    width:25%;
    border-left:1px solid #DCE1E6;
}
.resultDiv h5{
    height: 40px;
    line-height: 40px;
    margin:0;
    color:#7D8793;
    text-align: center;
    background-color: #EFF4FB;
}
.resultDiv .content{
    height:508px;
    padding: 5px 10px;
    overflow:auto;
    background-color:#fff;
}
.resultDiv .preBox{
    
    border:none;
    border-bottom:1px solid #ECECEC;
    margin:0;
}
.resultDiv .svgBox{
    text-align: center;
    background-color:#fff;
}
.tagcontroller{
    height:40px;
    margin-top: 10px;
    text-align:center;
}
.tagcontroller li{
    display:inline-block;
}
.tagcontroller li select{
    width:180px;
    height:40px;
    border:1px solid #CCD1D7;
}
.tagcontroller li button{
    width:120px;
    height: 40px;
    margin:0 10px;
    line-height:40px;
    background: #1580FF;
    border:none;
    color: #fff;
    font-size:16px;
    border-radius: 5px;
}
.table{
    width: 45%;
    border: 1px solid #989898;
    margin-right: 10%;
    float: right;
    font-size: 16px;
    overflow: auto;
    max-height: 100%;
    vertical-align: top;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor:pointer;
}
.tip{
    width: 80%;
    height:40px;
    line-height:40px;
    margin: 0 auto 15px auto;
    text-align: center;
    font-size: 18px;
}
.success{
    color: #33CC66;
    background: #DFF2BF;
    border:1px solid #68AB44;
}
.error{
    color: #A9445F;
    background: #F2DEDE;
    border:1px solid #EBCCD1;
}
.model{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    z-index: 999;
    top: 0;
}
.display{
    display: none;
}
.part{
    margin: 15% auto;
    width: 280px;
    min-height: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 3px #C9E0FB;
    text-align: center;
    padding-bottom: 5px;
}
.part img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 20%;
}
.part p{
    font-size: 18px;
    padding: 0 5px;
}
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: none;
}
::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-right-width: 4px;
    border-left-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 40px 40px;
    min-height: 100px;
    min-width: 100px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}
