#ctrlAndFileStru{
	margin-bottom:8px;
}
#ctrlAndFileStru .pro_doc_op{
	height: 39px;
}
#ctrlAndFileStru ul{
	padding-left: 15px;
}
#ctrlAndFileStru ul li{
	font-size: 13px;
}
#ctrlAndFileStru li a{
	color: #337ab7;
	padding: 10px;
}
.ctrlFileTabItem{
	height: 85%;
	overflow: auto;
}
#controlFlow{
	margin: 8px 0 0 8px;
	height: 85%;
}
#controlFlow .selectBox select{
	width: 88%;
	max-width: 472px;
}

#ctrlAndFileStru li a{
	color: #337ab7;
}

#ctrlAndFileStru ul li{
	font-size: 13px;
}

#svgclass{
	height: 94%;
	margin-top:2px;
	overflow:auto;
}
#fileStructure #tree{
	height: 98% !important;
}
.ztree li span.button {
    background-image: url(assets/img/zTreeStandard.png);
}
.ztree li a{
	line-height:0px !important;
	height:17px !important;
	color:#333 !important;
}

#fileStructure{
	overflow-x:auto;
	overflow-y:auto;
}
.myTitle1{
	text-align: center;
}
.myTitle2{
	margin-left:20px;
}
.myContent{
	margin-left:40px;
	text-align:left;
}
#dependency .depSvg{
	float: left;
	width: 40%;
}
#dependency .depTable{
	float: left;
    width: 58%;
    margin-top: 40px;
	margin-right: 2%;
	margin: 40px 2% 0 0;
}
#dependencyTable{
	border: 1px solid #ddd;
	margin: 0px 24px 24px 24px;
}
#dependencyTable th:first-child,
#dependencyTable .depTbody tr td:first-child{
	width: 135px;
}
#dependencyTable th:last-child,
#dependencyTable .depTbody tr td:last-child{
	text-align: center;
}
#dependencyTable .depTbody{
	max-height: 450px;
}
#dependencyTxt{
	border: 1px solid #ddd;
	max-height: 300px;
	margin: 0px 24px 24px 24px;
	overflow: auto;
	border-radius: 4px;
	box-shadow: 0px 4px 7px #C6CACD;
	padding: 8px;
}
#dependencyTxt p .dependencyName{
	text-indent:2em;
	display:inline-block;
}