<div class="tagContent autoTagContent">
    <div class="autoTagBox">
        <img class="imgSize" src="modelshow-module/images/circle.gif" ng-show="loadShow">
        <div ng-show="autoTagModel.length>0">
            <span ng-repeat="autoTag in autoTagModel track by $index">
                <span class="autoTagTxt" ng-show="checkTag(autoTag)">
                <span class="removeAutoTag" role="presentation" ng-click="removeAutoTag(autoTag)">×</span>
                <a ng-click="clickAutoTag(autoTag)">{{autoTag}}</a>
                </span>
            </span>
        </div>
        <div ng-show="autoTagModel.length==0">
            <img class="imgSize" src="modelshow-module/images/success.png" ng-show="sucShow">
        </div>
    </div>
</div>