<div class='cBrowser' ng-show="detail_view1">
    <div class="codeBrowser" ng-class="{'cBrowserHeight1' : showTag, 'cBrowserHeight2' : !showTag}">
        <div class="codeBrowserItem progrom">
            <div class="codeBrowserMenu">
                <p class="titleTxt">Program</p>
                <div class="pro_doc_op">
                    <a class="download" href="javascript:void(0);" ng-click="fileManager()">
                        <i class="fa fa-folder-open iconColorGreen" aria-hidden="true" title="Source code manager"></i>
                    </a>
                </div>
            </div>
            <div class="codeBrowserItemContent">
                <treecontrol class="tree-light" tree-model="dataForTheTree" options="treeOptions" on-node-toggle="onToggle(node)" selected-node="selected"
                    on-selection="showSelected(node, $parentNode)" expanded-nodes="expandedNodes">
                    {{node.name}}
                </treecontrol>
            </div>
        </div>
        <div class="codeBrowserItem aceCode" ng-show="!isMaximize">
            <p class="codeBrowserMenu titleTxt" ng-model="treeLocation">{{selectedProgram}}</p>
            <div class="toolTips" ng-show="textShow">
                <p>{{table}}</p>
            </div>
            <div id='codeEditor' class="codeList" ui-ace="aceOptions" ng-model="aceModel"></div>
        </div>
        <div class="codeBrowserItem" ng-show="callTree && selectedProgram" ng-class="{'pgmDetailMax' : isMaximize, 'pgmDetailMin' : !isMaximize}">
            <div class="codeBrowserMenu">
                <p class="titleTxt">Program Detail</p>
                <div class="pro_doc_op">
                    <a class="download" href="javascript:void(0);" ng-click="printAllDoc()">
                        <i class="fa fa-print iconColorGreen" aria-hidden="true" title="Print program doc"></i>
                    </a>
                    <a class="download" href="javascript:void(0);" ng-click="downloadAllDOC()">
                        <i class="fa fa-cloud-download iconColorGreen" aria-hidden="true" title="Download program doc"></i>
                    </a>
                    <a class="download" href="javascript:void(0);" ng-click="isMaximize = true" ng-show="!isMaximize">
                        <i class="fa fa-window-maximize iconColorGreen" aria-hidden="true" title="Maximization"></i>
                    </a>
                    <a class="download" href="javascript:void(0);" ng-click="isMaximize = false" ng-show="isMaximize">
                        <i class="fa fa-window-restore iconColorGreen" aria-hidden="true" title="Minimize"></i>
                    </a>
                </div>
            </div>
            <ctrl-flow-and-file-struc-directive></ctrl-flow-and-file-struc-directive>
            <modelshow-directive ng-show="ctrlFlowShow"></modelshow-directive>
        </div>
    </div>
    <tag-directive ng-show="showTag"></tag-directive>
    <auto-tag-directive ng-show="showTag"></auto-tag-directive>
</div>
<div id='my-print1' ng-show="detail_print1"></div>
<iframe id='my-print2' ng-show="detail_print1"></iframe>
<modelshow-directive ng-show="detail_print1"></modelshow-directive>
