.container{
    min-width: 400px;
    width: 100%;
    height: auto;
    float: left;
}
.logo-area{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 0 20px 0;
}
.splitLine {
    width: 80%;
    margin: 0 auto;
    height: 0;
    border-top: 1px solid #1C75C7;
    border-bottom: 1px solid #1C75C7;
}
.center-box {
    height: auto;
    margin: 60px auto;
    width: 333px;
    min-height: 538px;
}
.title {
    font-weight: normal;
    font-size: 20px;
    color: #418CD1;
    width: 100%;
    text-align: center;
    margin: 0;
}
/*form {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 34px;
}*/
.fields {
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
}
/* .center-login .field.username {
    border-bottom: 1px solid #303236;
} */
/* .center-login .field.password {
    border-top: 1px solid #53565c;
} */
.field {
    height: 50px;
    width: 331px;
    background-color: #ffffff;
    border: 1px solid #1c75c7;
    border-radius: 2px;
    overflow: hidden;
}
.icon-W32H32 {
    width: 32px;
    height: 32px;
    float: left;
    margin: 9px;
    position: absolute;
}

.icon-username {
    background-position: 0 0;
}
.icon-password {
    background-position: -32px 0;
}
.icon-goRight {
    position: relative;
    background-position: -128px -32px;
}
.center-login .actions .link-register span.icon-goRight {
    float: right;
    margin: 0 -5px 0 0;
}
.center-login .actions .link-register:hover span.icon-goRight{
	background-position: -96px -32px;
}
.field input {
    height: 50px;
    width: 321px;
    border: 0px transparent;
    border-left: 10px solid transparent;
    font-size: 16px;
    transition: all 0.5s;
    box-sizing: content-box;
}
.actions {
    float: left;
    width: 100%;
}
.center-login .actions .row {
    font-size: 15px;
    margin-bottom: 16px;
    /* color: #909195; */
    color: #858585;
    float: left;
    width: 100%;
}
.center-login .actions .row .link-forgotPassword {
/*     display: none; */
    color: #000000;
}
#link-register:hover,
.center-login .actions .row .link-forgotPassword:hover {
    color: #157FFF;
}
.btn-signUp, .btn-login, .btn-submit, .btn-forget{
    width: 100%;
}
.float-right,
.center-login .actions .link-register,
.center-login .actions .link-register span {
    float: right;
}
#link-register{
    color: #000000;
    height: 32px;
    line-height: 32px;
/*     display: none; */
}
a {
	text-decoration:none;
	cursor:pointer;
}
.footer{
	margin-top: 10px;
	width: 100%;
	text-align: center;
	float: left;
	/*color: #57595e;*/
	color: #418CD1;
}
.footer a{
	text-decoration:none;
	color:#157fff;
}
.footer a:focus,.footer a:hover{
	color:#418CD1;
}
.footer .trusted{
	font-size: 16px;
}
.footer .copyright{
	font-size: 16px;
}
.icon-goLeft{
	position: relative;
	background-position: -128px -64px;
}
.actions .link-login{
	float: left;
}
.actions .link-login span{
	float: left;
	margin-left: -10px;
}
.actions .link-login span.icon-goLeft{
	float: left;
	margin: 0;
	left: -5px;
}
.actions .link-login:hover span.icon-goLeft{
	background-position: -96px -64px;
}
.notes-error,.notes-success{
	border: 1px solid #393b3f;
	border-radius: 2px;
	/* color: #8d313d; */
	color:#BB4252;
	position: relative;
	padding: 10px 0 10px 0;
	min-height: 26px;
	height: auto;
	text-align: center;
}
.notes-error .icon-noteError,.notes-success .icon-noteSuccess{
	top: 50%;
	left:0;
	margin-top: -16px;
}
.notes-error p,.notes-success p{
	font-size: 14px;
	line-height: 14px;
	margin: 0px;
	clear: both;
}
.ie7 .center-forgotPassword .notes-error p{
	line-height:20px;
}
.notes-success p{
	/*color:#328944;*/
	color:#22993B;
}
.center-register .field.register-email{
	border-top: 1px solid #1c75c7;
}
.icon-email{
	background-position: -64px 0;
}
.icon-noteError{
	background-position: -96px 0;
}
.icon-noteSuccess{
	background-position: -128px 0;
}
a[class^=link-] span{
	height: 32px;
	line-height: 32px;
}
a[class^=link-]{
	/*color: #909195;*/
	color:#858585;
	text-decoration: none;
}
a[class^=link-]:hover{
	color: #0e73d3;
}
.center-license .notes a{
	text-decoration:none;
	color: #858585;
}
.center-license .notes a:hover,
.center-license .notes a:active{
	color:#fff;
}
.field.captcha {
    display: inline-flex;
}
input.captcha {
    width: 122px;
    display: inline;
}
img.captcha {
    cursor: pointer;
    border-radius: 2px;
    height: 100%;
}
img.logo {
    cursor: pointer;
}
input#forget-activationCode {
    display: inline;
    width: 142px;
}

button#btn-send-mail {
    width: 100px;
    height: 40px;
    padding: 0;
}