<!doctype html>
<html lang="en" data-ng-app="loginApp" style="height: 100%; width:100%">

<head>
    <meta charset="utf-8" />
    <title>WorkBench</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jsencrypt/jsencrypt.min.js"></script>
    <script type="text/javascript" src="login.controller.js"></script>
</head>

<body style="height: 100%; color:black; overflow:hidden; min-width:1280px">
    <div class="container">
        <div class="logo-area">
            <img src='images/logo.png' />
        </div>
        <div class="splitLine"></div>
        <div id="login" class="center-box center-login" style="display: block;" ng-controller="loginController" ng-show="show_login">
            <h2 class="title">Please change your password</h2>
            <form id="form-login" modelAttribute="loginDto">
                <div class="fields">
                    <div class="field username">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="username" name="userName" type="text" placeholder="Email Address" maxlength="30"
                            autofocus="autofocus" ng-model="userName">
                    </div>
                    <div class="field password">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input id="password" name="password" type="password" placeholder="Old Password" maxlength="30"
                            ng-model="oldPassword">
                    </div>
                    <div class="field password">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input id="password1" name="password" type="password" placeholder="New Password" maxlength="30"
                            ng-model="newPassword1">
                    </div>
                    <div class="field password">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input id="password2" name="password" type="password" placeholder="New Password Again"
                            maxlength="30" ng-model="newPassword2">
                    </div>
                    <div class="field captcha">
                        <input class="captcha" name="captcha_login" type="text" placeholder="Captcha" maxlength="30"
                            autocomplete="off" ng-model="captcha_login">
                        <img id="imgCaptcha_login" class="captcha" href="#" alt="验证码" src="/login/validateCode"
                            ng-click="changeImg('#imgCaptcha_login')" />
                    </div>
                </div>
                <div class="actions">
                    <div class="notes-error" ng-show="showError">
                        <span class="icon icon-W32H32 icon-noteError"></span>
                        <p>{{msg}}</p>
                    </div>
                    <div class="notes-success" ng-show="showSuccess">
                        <span class="icon icon-W32H32 icon-noteSuccess"></span>
                        <p>{{msg}}</p>
                    </div>
                    <div class="row">
                        <!-- <div class="notes-error" ng-show="showError">
	                    	<span class="icon icon-W32H32 icon-noteError"></span>
							<p>userName/password not correct or the account is not activated!</p>
               	 		</div> -->
                        <a id="link-forgotPassword" class="link-forgotPassword float-right" ng-click="toggleForget()">Forgot
                            password ?</a>
                    </div>
                    <button id="btn-login" class="btn btn-login" ng-click="changePassword()">Sign In</button>
                    <a id="link-register" class="link-register" ng-click="toggleRegister()">
                        <span class="icon icon-W32H32 icon-goRight"></span>
                        <span>No account? register now</span>
                    </a>
                </div>
            </form>
        </div>
        <div id="register" class="center-box center-register" ng-show="show_register">
            <h2 class="title">Create an Account</h2>
            <form id="form-register" modelAttribute="registerDto">
                <div class="fields">
                    <div class="field register-email">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="register-email" name="email" type="text" placeholder="Email Address" ng-model="email">
                    </div>
                    <div class="field captcha">
                        <input class="captcha" name="captcha_register" type="text" placeholder="Captcha" maxlength="30"
                            autocomplete="off" ng-model="captcha_register">
                        <img id="imgCaptcha_register" class="captcha" href="#" alt="验证码" src="/login/validateCode"
                            ng-click="changeImg('#imgCaptcha_register')" />
                    </div>
                </div>
                <div class="notes-error" ng-show="showError">
                    <span class="icon icon-W32H32 icon-noteError"></span>
                    <p>{{msg}}</p>
                </div>
                <div class="notes-success" ng-show="showSuccess">
                    <span class="icon icon-W32H32 icon-noteSuccess"></span>
                    <p>{{msg}}</p>
                </div>
                <div class="notes">
                    <h4>Note!</h4>
                    <p>The email address will be used to send password change confirmation to you when you forget your
                        password.</p>
                </div>
                <div class="actions">
                    <button id="btn-register-signUp" class="btn btn-signUp" ng-click="register()">Submit</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>Back to signin</span>
                    </a>
                </div>
            </form>
        </div>
        <div id="forget" class="center-box center-forget" ng-show="show_forget">
            <h2 class="title">{{show_activationCode?"Enter activation code":"Enter your email"}}</h2>
            <form id="form-forget" modelAttribute="registerDto" ng-show="!show_activationCode">
                <div class="fields">
                    <div class="field forget-email">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="forget-email" name="email" type="text" placeholder="Email Address" ng-model="email">
                    </div>
                </div>
                <div class="notes-error" ng-show="showError">
                    <span class="icon icon-W32H32 icon-noteError"></span>
                    <p>{{msg}}</p>
                </div>
                <div class="notes-success" ng-show="showSuccess">
                    <span class="icon icon-W32H32 icon-noteSuccess"></span>
                    <p>{{msg}}</p>
                </div>
                <!-- <div class="notes">
                        <h4>Note!</h4>
                        <p>The email address will be used to send password change confirmation to you when you forget your password.</p>
                    </div> -->
                <div class="actions">
                    <button id="btn-forget-signUp" class="btn btn-signUp" ng-click="forget()">Submit</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>Back to signin</span>
                    </a>
                </div>
            </form>
            <form id="form-activationCode" modelAttribute="registerDto" ng-show="show_activationCode">
                <div class="fields">
                    <div class="field forget-activationCode">
                        <!-- <span class="icon icon-W32H32 icon-email"></span> -->
                        <input id="forget-activationCode" name="activationCode" type="text" placeholder="Activation Code"
                            ng-model="activationCode">
                    </div>
                </div>
                <div class="notes-error" ng-show="showError">
                    <span class="icon icon-W32H32 icon-noteError"></span>
                    <p>{{msg}}</p>
                </div>
                <div class="notes-success" ng-show="showSuccess">
                    <span class="icon icon-W32H32 icon-noteSuccess"></span>
                    <p>{{msg}}</p>
                </div>
                <!-- <div class="notes">
                            <h4>Note!</h4>
                            <p>The email address will be used to send password change confirmation to you when you forget your password.</p>
                        </div> -->
                <div class="actions">
                    <button id="btn-forget-change-signUp" class="btn btn-signUp" ng-click="checkForgotActivationCode()">Submit</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>Back to signin</span>
                    </a>
                </div>
            </form>
        </div>
        <div id="change" class="center-box center-change" ng-show="show_change">
            <h2 class="title">Enter your new password</h2>
            <form id="form-change" modelAttribute="loginDto">
                <div class="fields">
                    <div class="field password">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input name="password" type="password" placeholder="new password" maxlength="30" ng-model="newPassword1">
                    </div>
                    <div class="field password">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input name="password" type="password" placeholder="new password again" maxlength="30" ng-model="newPassword2">
                    </div>
                </div>
                <div class="notes-error" ng-show="showError">
                    <span class="icon icon-W32H32 icon-noteError"></span>
                    <p>{{msg}}</p>
                </div>
                <div class="notes-success" ng-show="showSuccess">
                    <span class="icon icon-W32H32 icon-noteSuccess"></span>
                    <p>{{msg}}</p>
                </div>
                <!-- <div class="notes">
                                <h4>Note!</h4>
                                <p>The email address will be used to send password change confirmation to you when you forget your password.</p>
                            </div> -->
                <div class="actions">
                    <button class="btn btn-signUp" ng-click="changeForgotPassword()">Submit</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>Back to signin</span>
                    </a>
                </div>
            </form>
        </div>

        <div class="footer">

        </div>
    </div>
</body>

</html>