<!doctype html>
<html lang="en" data-ng-app="loginApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DormManager</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/overrides.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css" rel="stylesheet">
    <link href="../assets/css/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jsencrypt/jsencrypt.min.js"></script>
    <script type="text/javascript" src="login.controller.js"></script>
</head>

<body class="login">
<div class="logo-area">
    <img class="logo" src='images/logo.png' ng-click="index()" />
</div>
<div class="splitLine"></div>
<div class="loginform" ng-controller="loginController">
    <div class="logincontainer col-sm-12 ">
        <div id="login" class="login-content" style="display: block;" ng-show="show_login">
            <form id="form-login" modelAttribute="loginDto">
                <div class="fields">
                    <div class="form-group form-group-top">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="username" class="form-control" cname="userName" type="text" placeholder="Email Address"
                               maxlength="30" autocomplete="off" autofocus="autofocus" ng-model="userName">
                    </div>
                    <div class="form-group">
                        <!--<span class="icon icon-W32H32 icon-password"></span>-->
                        <input id="password" class="form-control" name="password" type="password" placeholder="Password"
                               maxlength="30" ng-model="password">
                    </div>
                    <div class="form-group">
                        <input class="captcha form-control" name="captcha_login" type="text" placeholder="Captcha"
                               maxlength="30" autocomplete="off" ng-model="captcha_login">
                        <img id="imgCaptcha_login" class="captcha" href="#" alt="验证码" src="/login/validateCode"
                             ng-click="changeImg('#imgCaptcha_login')" />
                    </div>
                </div>
                <div class="actions form-group">
                    <div class="notes-error" ng-show="showError">
                        <!--<span class="icon icon-W32H32 icon-noteError"></span>-->
                        <p class="fa fa-warning">{{msg}}</p>
                    </div>
                    <div class="notes-success" ng-show="showSuccess">
                        <!--<span class="fa fa-check"></span>-->
                        <p class="fa fa-check">{{msg}}</p>
                    </div>
                    <div class="row">
                        <a id="link-forgotPassword" class="btn link-forgotPassword float-right" ng-click="toggleForget()">忘记密码</a>
                    </div>
                    <button id="btn-login" class="btn btn-success btn-login" ng-click="signIn()">Sign In</button>
                </div>
            </form>
        </div>
        <div id="forget" class="login-content" ng-show="show_forget">
            <h2 class="title">Enter your email</h2>
            <form id="form-forget">
                <div class="fields">
                    <div class="form-group form-group-top">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="forget-email" class="form-control" name="email" type="text" autocomplete="off"
                               placeholder="Email Address" ng-model="email">
                    </div>
                    <div class="form-group">
                        <!--<span class="icon icon-W32H32 icon-email"></span>-->
                        <input id="forget-activationCode" class="form-control" name="activationCode" type="text"
                               placeholder="Activation Code" autocomplete="off" ng-model="activationCode">
                        <button id="btn-send-mail" class="btn btn-success btn-signUp" ng-click="forget()" ng-bind="activation_button"
                                ng-disabled="canClick"></button>
                    </div>
                </div>
                <div class="actions form-group">
                    <div class="notes-error" ng-show="showError">
                        <!--<span class="fa fa-warning"></span>-->
                        <p class="fa fa-warning">{{msg}}</p>
                    </div>
                    <div class="notes-success" ng-show="showSuccess">
                        <!--<span class="fa fa-check"></span>-->
                        <p class="fa fa-check">{{msg}}</p>
                    </div>
                    <button id="btn-forget-signUp" class="btn btn-success btn-signUp" ng-click="checkForgotActivationCode()">确认</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>返回</span>
                    </a>
                </div>
            </form>
        </div>
        <div id="change" class="login-content" ng-show="show_change">
            <h2 class="title">Enter your email</h2>
            <form id="form-change">
                <div class="form-group form-group-top">
                    <!--<span class="icon icon-W32H32 icon-password"></span>-->
                    <input class="form-control" name="password" type="password" placeholder="new password"
                           maxlength="30" ng-model="newPassword1">
                </div>
                <div class="form-group">
                    <!--<span class="icon icon-W32H32 icon-password"></span>-->
                    <input class="form-control" name="password" type="password" placeholder="new password again"
                           maxlength="30" ng-model="newPassword2">
                </div>

                <div class="actions form-group">
                    <div class="notes-error" ng-show="showError">
                        <!--<span class="fa fa-warning"></span>-->
                        <p class="fa fa-warning">{{msg}}</p>
                    </div>
                    <div class="notes-success" ng-show="showSuccess">
                        <!--<span class="fa fa-check"></span>-->
                        <p class="fa fa-check">{{msg}}</p>
                    </div>
                    <button class="btn btn-signUp btn-success" ng-click="changePassword()">修改</button>
                    <a class="link-login" ng-click="toggleLogin()">
                        <span class="icon icon-W32H32 icon-goLeft"></span>
                        <span>返回</span>
                    </a>
                </div>
            </form>
        </div>
        <div class="footer">
            <p class="trusted">Trusted Technology Solutions</p>
            <p class="copyright"></p>
        </div>
    </div>
</body>

</html>