<div class="content codeSearch">
    <div class="codeSearchBox">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active:selected==$index}" ng-click='tabShow($index)' ng-repeat='item in tabName'>
                <a>{{item.list}}</a>
            </li>
        </ul>
        <div class="TabCon">
            <div ng-show='selected==0' class="TabConItem">
                <div class="searchTop ketWord">
                    <span class="text">Keywords:</span>
                    <input type="text" class="kerWords searchInp" name="kerWords" ng-model="kerWords" required ng-init="" ng-keyup="setFocus($event)"
                        title="Please enter the keyword" />
                    <button type="button" class="btn btnColor searchBtn kerWordSearch" ng-click="kerWordSearch()" ng-disabled="!kerWords">Search</button>
                </div>
            </div>
            <div ng-show='selected==1' class="TabConItem">
                <div class="searchTop tages">
                    <span class="text">Tags:</span>
                    <select id='tagSearch' class="form-control" name="tagSearch" multiple="multiple" ng-model="selectedTags" style="width:27%"
                        title="Please enter the tag" ng-change="tagSearchChange(selectedTags)"></select>
                    <button type="button" class="btn btnColor searchBtn tagsSearch" ng-click="tagsSearch()">Search</button>
                </div>
            </div>
            <div ng-show='selected==2' class="TabConItem">
                <div class="searchTop">
                    <span class="text">Code snippet:</span>
                    <textarea ng-model="code" class="searchCodeTxt" name="codeSnippet" required title="Please enter the code"></textarea>
                    <button type="button" class="btn btnColor searchBtn snippetSearch" ng-click="codeSearch()" ng-disabled="!code">Search</button>
                </div>
            </div>
        </div>
        <div class="searchContent" ng-class="{'keyWordAndTagsContent' : selected==0||selected==1, 'searchSimCodeContent' : selected==2}">
            <div class="searchContentLeft">
                <div class="searchTab">
                    <div>
                        <p ng-show="!hasRecords" class="noData">No data, please click the 'search' button</p>
                        <table id='headTable' ng-show="hasRecords" style="margin-bottom:2px">
                            <thead>
                                <tr class="headtr">
                                    <th class="headth1">
                                        <input type='checkbox' id="selectAllBox" ng-checked="isSelcAll()" ng-model="isSelectAll" ng-click="selectAll()" class="checkbox"/>
                                    </th>
                                    <th class="headth2">Name</th>
                                    <th class="headth3">Tags</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="overflow:auto;height:93%">
                        <div id="searchTable">
                            <div class="searchTableBox" ng-repeat='kerWordsSearchInfo in kerWordsSearch track by $index'>
                                <div class="searchTableItem" ng-init="pIndex=$index" ng-click="onClick($index)" ng-class="{focus: $index == focus}">
                                    <span ng-show='kerWordsSearchInfo.type==1' class="headth1">
                                        <input class="checkbox" type='checkbox' ng-checked="isSelected(kerWordsSearchInfo.programId)" ng-click="selectOne(kerWordsSearchInfo.programId,kerWordsSearchInfo.programTags)"
                                            name='keywordSearch' id='{{kerWordsSearchInfo.programId}}' />
                                    </span>
                                    <span ng-show='kerWordsSearchInfo.type==1' class="headth2">
                                        Program:
                                        <a class="resuName" href="javascript:void(0);" ng-click="goCodeBrowser(kerWordsSearchInfo.programId)">{{kerWordsSearchInfo.program}}</a>
                                    </span>
                                    <span ng-show='kerWordsSearchInfo.type==1' class="headth3">{{kerWordsSearchInfo.programTags.join(', ')}}</span>
                                    <span ng-show='kerWordsSearchInfo.type==2' class="headth1">
                                        <input class="checkbox" type='checkbox' ng-checked="isSelected(kerWordsSearchInfo.paragraphId)" ng-click="selectOne(kerWordsSearchInfo.paragraphId,kerWordsSearchInfo.paragraphTags)"
                                            name='keywordSearch' id='{{kerWordsSearchInfo.paragraphId}}' />
                                    </span>
                                    <span ng-show='kerWordsSearchInfo.type==2' class="headth2">Paragraph:
                                        <a class="resuName" href="javascript:void(0);" ng-click="goCodeBrowser(kerWordsSearchInfo.paragraphId)">{{kerWordsSearchInfo.paragraph}}</a>
                                    </span>
                                    <span ng-show='kerWordsSearchInfo.type==2' class="headth3">{{kerWordsSearchInfo.paragraphTags.join(', ')}}</span>
                                </div>
                                <div ng-hide='selected==1'>
                                    <table>
                                        <tr class="searchRes">
                                            <td>
                                                <span ng-bind-html="kerWordsSearchInfo.snippet|trust2Html">
                                                    <span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <tag-directive></tag-directive>
    </div>
</div>

<modelshow-directive></modelshow-directive>