<div class="jobHistory">
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title" align="center">寝室成员</h3>-->
        <!--<button type="button" class="close" ng-click="close()">-->
            <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
    <!--</div>-->
    <nav class="navbar navbar-inverse">
        <div class="row">
            <div class="modal-title">
                <div class="col-sm-9 col-md-8 hidden-xs">
                    <h3>
                        寝室成员
                    </h3>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="navbar-collapse">
                        <div class="navbar-form navbar-right text-right">
                            <button class="btn btn-flat btn-sm" ng-click="close()" title="Close">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal-body" id="missCode">
        <div align="center" class="missCodeBox">
            <table id="tableEmailsList" class="table table-list dataTable no-footer dtr-inline" aria-describedby="tableEmailsList_info"
                   role="grid">
                <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1">学号</th>
                    <th tabindex="0" rowspan="1" colspan="1">姓名</th>
                    <th tabindex="0" rowspan="1" colspan="1">床位</th>
                </tr>
                </thead>
                <tbody>

                <tr role="row" class="odd" ng-repeat="item in students track by $index" ng-click="switchToStudent(item.id)">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.pos}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>