<div class="jobHistory">
    <div class="modal-header">
        <h3 class="modal-title" align="center">寝室成员</h3>
        <button type="button" class="close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" id="missCode">
        <div align="center" class="missCodeBox">
            <table id="tableEmailsList" class="table table-list dataTable no-footer dtr-inline" aria-describedby="tableEmailsList_info"
                   role="grid">
                <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1">学号</th>
                    <th tabindex="0" rowspan="1" colspan="1">姓名</th>
                </tr>
                </thead>
                <tbody>

                <tr role="row" class="odd" ng-repeat="item in students track by $index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>