<section class="header-nav">
    <div class="pull-left">
        <h3><a href="/">HOME</a></h3>
    </div>

</section>

<div class="main-content">
    <section id="main-body" class="content content--border">
        <link rel="stylesheet" type="text/css" href="/editor-module/editor.css">
        <!--<script type="text/javascript" charset="utf8" src="/assets/js/tinymce.min.js"></script>-->
        <!--<script type="text/javascript" charset="utf8" src="/assets/lang/zh_CN.js"></script>-->
        <h3 class="headline">编写公告</h3>
        <form ng-submit="submitForm()" role="form">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="inputSubject">标题</label>
                    <input type="text" name="subject" id="inputSubject" value="" class="form-control" ng-model="notice.title" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="inputMessage">内容</label>
                    <textarea name="message" id="inputMessage" rows="12" class="form-control" ui-tinymce="tinymceOptions" ng-model="notice.content" style="resize: vertical;"></textarea>
                </div>

                <p class="text-center">
                    <button id="cancel" class="btn btn-primary" ng-click="cancel()">取消</button>
                    <input type="submit" value="确定发布" class="btn btn-primary">
                </p>
            </div>
        </form>

        <!--<div class="table-container clearfix">-->
            <!--<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>-->
            <!--<div class="pull-right form-group">-->
                <!--<button class="btn btn-success" ng-click="cancel()">取消</button>-->
                <!--<button class="btn btn-success" ng-click="noticeSave()">确定发布</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<textarea id="editorTitle" >&ndash;&gt;-->
                <!--&lt;!&ndash;点击编辑标题&ndash;&gt;-->
            <!--&lt;!&ndash;</textarea>&ndash;&gt;-->
            <!--&lt;!&ndash;<textarea id="editorContent">&ndash;&gt;-->
                <!--&lt;!&ndash;点击编辑公告&ndash;&gt;-->
            <!--&lt;!&ndash;</textarea>&ndash;&gt;-->
        <!--</div>-->



    </section>
</div>



<script src="/assets/js/AjaxModal.js"></script>

<div class="modal system-modal fade" id="modalAjax" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel panel-primary">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">标题</h4>
            </div>
            <div class="modal-body panel-body">
                Loading...
            </div>
            <div class="modal-footer panel-footer">
                <div class="pull-left loader">
                    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary modal-submit">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>
<modelshow-directive></modelshow-directive>