body,
input,
button,
select,
textarea {
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Microsoft YaHei', Raleway, Verdana, Tahoma, serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #48405A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Microsoft YaHei', Raleway, Verdana, Tahoma, serif;
  font-weight: 300;
}

.navbar-main .navbar-brand {
  padding: 0;
  font-size: 18px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  color: #FFF;
  background-color: #1566A1;
  border-radius: 4px;
  text-align: center;
  margin-top: 13px;
  margin-left: 0 !important;
  margin-right: 10px;
  font-family: Raleway, sans-serif;
}

.navbar-main .navbar-brand:hover {
  background-color: #FFF;
  color: #1566A1;
}

.navbar-main {
  margin-bottom: 0;
  background-color: #32A1F3;
  background-image: linear-gradient(#32A1F3, #1F91E6);
  border: 0;
  border-radius: 0;
  min-height: 70px;
  font-size: 15px;
}

.navbar-main .navbar-collapse {}

.navbar-main .navbar-nav>li>a {
  color: #FFF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-main .navbar-nav>li>a:hover,
.navbar-main .navbar-nav>li>a:focus,
.navbar-main .navbar-nav>.active>a,
.navbar-main .navbar-nav>.active>a:hover,
.navbar-main .navbar-nav>.active>a:focus,
.navbar-main .navbar-nav>.open>a,
.navbar-main .navbar-nav>.open>a:hover,
.navbar-main .navbar-nav>.open>a:focus {
  color: #EEE;
  background-color: transparent;
}

#main-menu .navbar-nav {
  margin-left: -15px;
  margin-right: -15px;
}

.panel-default>.panel-heading {
  background-color: #020206;
  border-bottom: none;
  color: #FFFFFF;
}

.panel-default>.panel-footer {
  background: #fafafa;
  border-top: 0px;
}

.form-group .control-label {
  color: #7f8fa4;
  font-weight: 500;
}

.form-control {
  /* border-color:#DFE3E8; */
  height: 40px;
  box-shadow: none;
  color: rgba(222, 222, 222, 0.8);
  transition: none;
  background: #322e3a;
  border: none;
}

.form-control:focus {
  border-color: #8c98a9;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.portlet {
  /* padding:20px; */
  border-radius: 4px;
  background: #48405a;
  /* border:1px solid #E7E9EC; */
  transition: all 0.4s;
}

.has-warning .form-control {
  border-color: #ffd740;
  box-shadow: none !important;
}

.has-success .form-control {
  border-color: #33b86c;
  box-shadow: none !important;
}

.has-error .form-control {
  border-color: #ef5350;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .navbar-main .navbar-nav .open .dropdown-menu>li>a {
    color: #ddd;
  }

  .navbar-main .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }
}

.panel {
  font-size: 0.9em;
  margin-top: 92px;
  transition: box-shadow .2s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-left: 16px;
}

.list-group {
  font-size: 0.9em;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #777777;
}

.pagination {
  font-size: 0.8em;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  color: white;
  background-color: #48405a;
  border-color: #7e80e2;
}

.navbar-main .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #7f71d8;
  padding: 6px;
  outline: none;
  line-height: 22px;
}

input[type='file'].form-control {
  height: inherit;
  margin-bottom: 5px;
}

.list-group-item {
  padding: 14px 15px;
}

.panel-body {
  padding: 10px 15px;
}

.md-editor {
  border: 1px solid #DFE3E8;
  border-radius: 4px;
}

.md-editor>.md-header {
  border-radius: 4px 4px 0 0;
  background: black !important;
}

.md-editor .md-footer {
  border-radius: 0 0 4px 4px;
}

.md-editor>textarea {
  background-color: #322e3a !important;
}

.list-group-item>i.fa.fa-circle-o {
  color: #808080;
}

body.login {
  background-color: #352f44;
  /* background: url(http://desk.fd.zol-img.com.cn/t_s960x600c5/g5/M00/0F/05/ChMkJlbrrSiIMJpcADDX7qUB0ikAAN8IwGtSSgAMNgG402.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

body.login footer {
  display: none;
}

.navbar-toggle {
  margin-top: 18px;
  margin-right: 0;
  margin-bottom: 18px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.list-group-item a {
  line-height: 1.8pc;
  font-size: 14px;
}

.client-home-panels .panel {
  margin-top: 0px;
}

div#order-standard_cart input {
  background: white;
}

.modal-backdrop {
    z-index: 0;
}

.form-group div.ng-binding {
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
}

.modal-content {
    background-color: #48405a;
}

.modal-dialog section#main-body {
    margin: 0px 5px;
}

nav.navbar.navbar-inverse {
    border-radius: 0;
    border: 0;
}