<div class="left-menu">
    <header class="header">
        <a class="navbar-brand" href="/index.html" title="蘑菇云">DORGM</a>
    </header>
    <div class="left-menu-wrap">
        <section class="menu">
            <ul>
                <li class="item active">
                    <a href="#" ng-click="switchToPage('info')"><i class="alico icon-menu"></i>个人中心</a>
                </li>

                <li class="item">
                    <a href="javascript:;"><i class="alico icon-ecs"></i>管理<span class="fa fa-caret-down"></span></a>
                    <ul>
                        <li><a href="#" ng-click="switchToPage('dorm')">寝室管理</a></li>
                        <li><a href="#" ng-click="switchToPage('student')">学生管理</a></li>
                        <!--<li><a href="http://mgyvpn.com/index.php?m=geninvoices">提前续费</a></li>-->
                        <!--<li><a href="knowledgebase.php?action=displaycat&catid=3">使用教程</a></li>-->

                    </ul>
                </li>
                <!--<li class="item ">-->
                    <!--<a href="downloads.php">-->
                        <!--<i class="fa fa-cloud-download"></i>客户端下载-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="item ">-->
                    <!--<a href="javascript:;"><i class="alico icon-expense"></i>我的账单<span class="fa fa-caret-down"></span></a>-->
                    <!--<ul>-->
                        <!--<li><a href="clientarea.php?action=invoices">我的账单</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="item ">
                    <a href="javascript:;"><i class="alico icon-pen"></i>申请管理<span class="fa fa-caret-down"></span></a>
                    <ul>
                        <li><a href="#" ng-click="switchToPage('application/list')">申请一览</a></li>
                        <li ng-show="!isAdmin"><a href="#" ng-click="switchToPage('application')">新建申请</a></li>
                    </ul>
                </li>
                <li class="item ">
                    <a href="javascript:;"><i class="alico icon-account-2"></i>账户管理<span class="fa fa-caret-down"></span>
                    </a>
                    <ul>
                        <li><a href="#" ng-click="switchToPage('myInfo')">我的资料</a></li>

                        <li><a href="#" ng-click="switchToPage('changePw')">更改密码</a></li>

                    </ul>
                </li>
                <li class="item ">
                    <a href="#" ng-click="switchToPage('notice')">
                        <i class="fa fa-bell"></i>寝室公告
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <section class="account account button-more button-more--noresponsive">
        <div class="center ng-binding">
            <div class="logout"><a href="\logout" title="退出"><i class="md md-settings-power"></i></a>
            </div>
            {{userName}}
            <span class="label">none</span>
        </div>
    </section>
</div>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/whmcs.js"></script>