.tagContent{
  clear:both;
}
 .tagText{
    margin-top: 28px;
    display: inline-block;
  }
  .tagContent .saveTags{
    margin-left:8px;
  }
  #tagSelect{
    height: 32px;
    vertical-align: middle;
    display: inline-block;
  }
  #autoTagSelect{
    height: 32px;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
  }
