.modal {
  word-wrap: break-word;
}

.modal .label.error-msg {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  padding: 0;
  padding: 5px;
  margin-top: 10px;
  text-align: left;
}

.modal .label.error-msg > span {
  white-space: pre-wrap;
}

/* .modal .breadcrumb {
  margin: 0;
  background: #00bcd4;
  font-size: 16px;
  max-height: inherit;
  padding: 0 10px;
  margin-bottom: 5px;
} */

.modal-fullscreen .modal-dialog,
.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
}

.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}

.modal-fullscreen textarea.code {
  min-height: 667px;
}

#edit.modal-fullscreen .historyTable{
  height: 667px;
}

.modal img.preview {
  max-width: 100%;
  max-height: 640px;
  border-radius: 3px;
}

.modal img.preview.loading {
  width: 100%;
  height: 1px;
  opacity: 0;
}


.modal .modal-content {
    border-radius: 10px 10px 4px 4px;
}

.modal .modal-header {
    border-radius: 4px 4px 0 0;
    background: #1591f3;
    padding: 1.3em;
}

.modal .modal-header .modal-title {
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    margin: 0;
}

.modal .modal-header .close {
    opacity: 1;
    color: #fff;
}

.modal .modal-header .close.fullscreen {
    font-size: 14px;
    position: relative;
    top: 4px;
    margin-right: .8em;
}
#scriptLaunch .launchDes{
    width: 100%;
    height: 200px;
    margin-bottom: 2%;
    overflow: auto;
    resize: none;
}
#scriptLaunch .commandOpt{
  width: 100%;
}
.textAlignLeft{
  text-align: left;
}
.margin0{
  margin: 0;
}
#scriptLaunch .RunTxt{
  float: left;
  vertical-align: middle;
}
#scriptLaunch .selectItem{
  float: left;
  vertical-align: middle;
  padding: 2px;
  margin: 0 8px;
}
#scriptConsole .launchDes{
  width: 100%;
  height: 200px;
  overflow: auto;
  resize: none;
  margin-bottom: 2%;    
}
#scriptConsole .tableDiv{
  overflow: auto;
  min-height:50px;
  max-height: 200px;
  border: 1px solid rgb(169, 169, 169);
}
#scriptConsole .outputTab{
  width: 100%;
}
#scriptConsole .outputTab a{
  text-decoration: underline;
  color: #333;
}
#scriptHistory .modal-dialog{
  width: 900PX;
}
#edit .editTitle{
  margin-top: 0px;
}
#edit .tHead,#scriptHistory .tHead{
  display: block;
}
#edit .historyTable,#scriptHistory .historyTable{
  display: block;
  height: 415px;
  overflow: auto;
}
#edit table tr td{
  width: 900px;
}
#scriptHistory .historyTable tr td{
  border: none;
}
#scriptHistory table tr .width1{
  width: 74px;
}
#scriptHistory table tr .width2{
  width: 170px;
}
#scriptHistory table tr .width3{
  width: 190px;
}
#scriptHistory table tr .width4{
  width: 84px;
}
#scriptHistory .glyphicon-cloud-download{
  margin:0 8px;
}
#outputs .modal-dialog{
  width: 900px;
}
#outputs .modal-body{
  height: 500px;
}