#progress-bar{
	padding: 0px 15px 0px 15px;
}
#otherInfo{
	position:absolute;
	font-size: 13px;
	color:#9F9F9F;
	margin-bottom:0px;
	bottom:6px;
	right:15px;
}
#otherInfo .otherInfoM{
	margin: 0 8px;
}
.versionInfo{
	left: 180px;
	top: 15px;
	font-weight: bold;
}
.versionInfo1{
	margin-left: 12px;
}
#tips{
	height:30px;
	position:relative;
	margin-top: 5px;
}
#analysisName{
	position:relative;
	margin-left: 15px;
	float: left;
}
#analysisName p{
	font-size: 18px;
	color: green; 
	margin-bottom: 0px;
}
#progress-status{
	position: relative;
	float: left;
	height: 30px;
}
#progress-status p{
	position: absolute;
	font-size: 13px;
	color: #9F9F9F;
	margin-bottom: 0px;
	margin-left: 5px;
	bottom: 6px;
}
.progress-bar{
	color: #000000;
}
.fileManager{
	height: 530px;
}
.fileManager .fileMngBox{
	height: 100%;
	overflow: hidden;
}
.jobHistory .grid{
	max-height: 480px;
}
.jobHistory .ui-grid-header-cell-wrapper{
	width: 100%;
}
.textIndent{
	text-indent: 2em;
}
#missCode .missCodeBox{
	border: 1px solid #ccc;
	height: 480px;
}
#missCode .missCodeTh{
	width: 50%;
	padding: 5px;
	border-bottom: 0;
	text-align: left;
	font-size: 16px;
}
#missCode table{
	width: 100%;
}
#missCode .mCodeTbody{
	overflow: auto;
	height: 446px;
}
#missCode .mCodeTbody td{
	padding: 5px;
	font-size: 16px;
	text-align: left;
}

