<div class="jobHistory">
    <div class="modal-header">
        <h3 class="modal-title" align="center">Missing code</h3>
        <button type="button" class="close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" id="missCode">
        <div align="center" class="missCodeBox">
            <div class="mCodeThead">
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="missCodeTh">Name</th>
                        <th class="missCodeTh">Type</th>
                    </tr>
                </table>
            </div>
            <div class="mCodeTbody">
                <table cellspacing="0" cellpadding="0" >
                    <tr class="borderBottom" ng-repeat="item in missCodeData track by $index">
                        <td>{{item.name}}</td>
                        <td>{{item.type}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>