.estimationBox .td{
    padding: 0px;
    width: 80%;
    text-align: left;
    border: 1px solid #ddd;
}
.estimationBox .td input{
    width:100%;
    border: none;
    padding: 0 3px;
    text-align: center;
}
.costtable{
    width:100%;
    border: 1px solid #ccc;
}
thead{
    background: #eff4fb;
}
.tHead{
    width:100%;
}
.tHead td{
    border: none;
}
.tBody{
    width: 100%;
    overflow-y: auto;
}
.tBody td{
    border:none;
}
.tBody tr{
    border-top:1px solid #ccc;
}
.estimationBox{
    font-size: 16px;
    padding: 1%;
}
.estimationBox .estimationBoxLeft{
    width: 21.5%;
    height: 100%;
    float: left;
    overflow: hidden;
    overflow-y: auto;
}
.estimationBox .estimationBoxRight{
    width: 77%;
    height: 100%;
    float: right;
}
.estimationBox .estimationBoxRight .estimationBoxRightBox{
    height: 100%;
}
.estimationBox .report{
    margin-top: 5%; 
}
.estimationRightTab1 .estimationTitle{
    display: inline-block;
    margin-bottom:10px;
    text-align: right;
    width: 50%;
    float: left;  
}
.estimationRightTab1 .estimationTitle select{
    font-weight: normal;
}
.estimationRightTab1 .download{
    float: right;
    color: #337ab7;
    margin-right: 1%;
    margin-top: 6px;
}
.estimationBox .estimationBoxRight .estimationRightTab1 .tBody{
    max-height: 300px;
    margin: 0 0 1%;
}
.estimationBox .nborder td{
    border:none!important;
}
.estimationBox .estimationBoxRight .estimationRightTab2{
    height: 46%;
    overflow: hidden;
}
.estimationBox .estimationBoxRight .estimationRightTab2 .tBody{
    max-height: 42%;
}
.estimationBox .estimationBoxRight .estimationRightTab2 .tdCenter{
    text-align: center;
}
.estimationRightTab2 .total{
    border: 1px solid #ccc;
    padding:10px 7% 0;
    margin-top: 2%;
    position: relative;
}
.estimationRightTab2 .total table tbody tr{
    background-color: #fff;
}
.estimationRightTab2 .total table tbody tr td{
    padding: 2px 0;
    text-align: left;
}
.estimationRightTab2 .total table tbody tr td.totalNum{
    font-weight: bold;
}
.specialTxt{
    position: absolute;
    top: -12px;
    left: 16px;
    background-color: #fff;
    padding: 0 12px;
}
.estimationTitle{
    font-weight:bold;
    font-size: 16px;
}
.trmore{
    position: absolute;
    z-index: 999;
    height: 30%;
    overflow: hidden;
    width: 62.8%;
    right: 2%;
    background: #f1fff0;
    border: 1px solid #ccc;
}
.trmore .tbody{
    overflow: auto;
    height: 90%;
}
table tbody tr{
    background: white;
    width: 100%;  
}
table.costtable tbody tr{
    background: white;
    width: 100%;  
}
table tbody tr.childrenTable{
    background: #f1fff0;
}
.childrenTable td{
    text-align: left;
}
.childrenTable input{
    background: none;
    text-align: left;
}
.generalBox{
    position: relative;
    border: 1px solid #ccc;
    padding: 10px 0;
    padding-left: 18%;    
}
.generalBox2{
    margin-bottom: 5%;
}
.generalBox .generalBoxtxt{
    text-align: left;
    margin:0;
}
.generalBox input{
    margin-left: 20%;
}