<div class="content estimationBox clearfix">
    <div class="estimationBoxLeft">
        <p class="estimationTitle">Parameters</p>
        <div ng-show="EstimationInit==EstimationItems[0]">
            <div class="estimationBody">
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr">
                            <td class="td">Complexity Ratio</td>
                            <td class="td">Weight</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr">
                            <td class="td">LOC</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.loc">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Loops</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.loop">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Conditional Statements</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.conditionalStatements">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Tables</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.tables">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Variables</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.variables">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr">
                            <td class="td">Median Code Size</td>
                            <td class="td">Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr">
                            <td class="td">Median LOC</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.medianLoc">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Median Number of Loops</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.medianLoops">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Median Number of Conditional Statements</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.medianConditions">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Median Number of Tables</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.medianTables">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Median Number of Variables</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.medianVariables">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr">
                            <td class="td">Fixed Parameters</td>
                            <td class="td">Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr">
                            <td class="td">Cost Point per LOC (n.b. different per business domain)</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.costPoint">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Man-Hour per Cost Point (n.b. different per activities)</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.manHour">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="estimationBody">
                <p class="estimationTitle">Projected Project Summary</p>
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr">
                            <td class="td">Project Summary</td>
                            <td class="td">Weight</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr">
                            <td class="td">Team Size</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.teamSize">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Available Budget</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.availableBudget">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Hourly Rate</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="costRec.hourlyRate">
                            </td>
                        </tr>
                        <tr class="tr">
                            <td class="td">Time Window</td>
                            <td class="td">
                                <input title="Values that can be modified" ng-model="Time_Window">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="EstimationInit==EstimationItems[1]">
            <div class="generalBox generalBox2">
                <span class="specialTxt">Weights for cost poit</span>
                <p class="generalBoxtxt">Input Files/Tables:</p>
                <input type="text" name="fname" ng-model="geneRec.inputFiles" />
                <p class="generalBoxtxt">Output Files/Tables:</p>
                <input type="text" name="fname" ng-model="geneRec.outputFile" />
                <p class="generalBoxtxt">Output Fields:</p>
                <input type="text" name="fname" ng-model="geneRec.fields" />
                <p class="generalBoxtxt">Computation other than move:</p>
                <input type="text" name="fname" ng-model="geneRec.computatins" />
            </div>
            <div class="generalBox generalBox2">
                <span class="specialTxt">Cost Calculation</span>
                <p class="generalBoxtxt">Man Hour per Cost Point:</p>
                <input type="text" name="fname" ng-model="geneRec.costPoint" />
                <p class="generalBoxtxt">Hourly Rate($):</p>
                <input type="text" name="fname" ng-model="geneRec.hourlyRate" />
            </div>
            <div class="generalBox">
                <span class="specialTxt">Constraints</span>
                <p class="generalBoxtxt">Team Size:</p>
                <input type="text" name="fname" ng-model="geneRec.teamSize" />
                <p class="generalBoxtxt">Available Budget($):</p>
                <input type="text" name="fname" ng-model="geneRec.availableBudget" />
                <p class="generalBoxtxt">Time Window(days):</p>
                <input type="text" name="fname" ng-model="geneRec.timeWindow" />
            </div>
        </div>
        <button class="btn btnColor report" ng-click="paint()">Generate Report</button>
    </div>
    <div class="estimationBoxRight" ng-show="reportInfo">
        <p>Please click the 'Generate Report' button first</p>
    </div>
    <div class="estimationBoxRight" ng-show="!reportInfo">
        <div class="estimationRightTab1">
            <span class="estimationTitle">Estimation Model:
                <select ng-model="EstimationInit" ng-options="t.name for t in EstimationItems"></select>
            </span>
            <a class="download" href="javascript:void(0);" ng-click="downloadExcel()">
                <i class="iconColorGreen fa fa-download" aria-hidden="true" title="Download"></i>
            </a>
            <div ng-show="EstimationInit==EstimationItems[0]">
                <div class="tHead">
                    <table class="costtable" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tr nborder">
                                <td class="td" style="width:15%;">Program</td>
                                <td class="td" style="width:15%;">Paragraph</td>
                                <td class="td" style="width:7%">LOC</td>
                                <td class="td" style="width:7%">Loop</td>
                                <td class="td" style="width:7%">Conditional
                                    <br>Statements</td>
                                <td class="td" style="width:7%">Tables</td>
                                <td class="td" style="width:7%">Variables</td>
                                <td class="td" style="width:7%">Complexity
                                    <br>Ratio</td>
                                <td class="td" style="width:7%">Clone
                                    <br>Group</td>
                                <td class="td" style="width:7%">Clone
                                    <br>Tier</td>
                                <td class="td" style="width:7%">Cost
                                    <br>Point</td>
                                <td class="td" style="width:7%">Man
                                    <br>Hour</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class='tBody'>
                    <table class="costtable" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr class="tr" ng-repeat="pt in programTable">
                                <!--<td class="td" ng-repeat="td in tb">{{td}}</td>-->
                                <td class="td" style="width:15%;">
                                    <i class="fa fa-plus-square-o jia" aria-hidden="true" ng-click="getParagraphs($event,pt.paragraphResults);"></i>
                                    <i class="fa fa-minus-square-o jian disnone" ng-click="closetr($event)" aria-hidden="true"></i> {{pt.name}}</td>
                                <td class="td" style="width:15%;">{{pt.paraCount}}</td>
                                <td class="td" style="width:7%">{{pt.loc}}</td>
                                <td class="td" style="width:7%">{{pt.loop}}</td>
                                <td class="td" style="width:7%">{{pt.conditionalStatements}}</td>
                                <td class="td" style="width:7%">{{pt.tables}}</td>
                                <td class="td" style="width:7%">{{pt.variables}}</td>
                                <!--{{pt.ComplexityRatio}}-->
                                <td class="td" style="width:7%">
                                    <input ng-value="pt.complexityRatio|number:2" readonly>
                                </td>
                                <td class="td" style="width:7%">N/A</td>
                                <td class="td" style="width:7%">N/A</td>
                                <!--{{pt.CostPoint}}-->
                                <td class="td" style="width:7%">
                                    <input ng-value="pt.costPoint|number:2
                                                                " readonly>
                                </td>
                                <!--{{pt.ManHour}}-->
                                <td class="td" style="width:7%">
                                    <input ng-value="pt.manHour|number:2" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="trshow" class="trmore">
                    <button type="button" class="close" ng-click="trmoreClose();" style="opacity: 1;">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="thead">
                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr class="tr nborder">
                                    <td class="td" style="width:15%;">Paragraph</td>
                                    <td class="td" style="width:7%">LOC</td>
                                    <td class="td" style="width:7%">Loop</td>
                                    <td class="td" style="width:7%">Conditional
                                        <br>Statements</td>
                                    <td class="td" style="width:7%">Tables</td>
                                    <td class="td" style="width:7%">Variables</td>
                                    <td class="td" style="width:7%">Complexity
                                        <br>Ratio</td>
                                    <td class="td" style="width:7%">Clone
                                        <br>Group</td>
                                    <td class="td" style="width:7%">Clone
                                        <br>Tier</td>
                                    <td class="td" style="width:7%">Cost
                                        <br>Point</td>
                                    <td class="td" style="width:7%">Man
                                        <br>Hour</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbody">
                        <table cellspacing="0" cellpadding="0" style="width:100%;">
                            <tbody>
                                <tr class="tr childrenTable nborder" ng-repeat="pt1 in paragraphTable">
                                    <td class="td" style="width:15%;" title="{{pt1.name}}">
                                        <input value="{{pt1.name}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.loc}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.loop}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.conditionalStatements
                                                                    }}" readonly>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.tables}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.variables
                                                                    }}" readonly>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input ng-value="pt1.complexityRatio|number:2" readonly>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.cloneGroup}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input value="{{pt1.cloneTier}}" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input ng-value="pt1.costPoint|number:2" readonly/>
                                    </td>
                                    <td class="td" style="width:7%">
                                        <input ng-value="pt1.manHour|number:2" readonly/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="EstimationInit==EstimationItems[1]">
                <div class="tHead">
                    <table class="costtable" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="tr nborder">
                                <td class="td" style="width:5%;">Report No</td>
                                <td class="td" style="width:15%;">Program</td>
                                <td class="td" style="width:10%">Input Files/Tables</td>
                                <td class="td" style="width:10%">Output File</td>
                                <td class="td" style="width:10%">Fields</td>
                                <td class="td" style="width:10%">Computatins
                                    <br/>(other than move)</td>
                                <td class="td" style="width:20%">Cost
                                    <br>Point</td>
                                <td class="td" style="width:20%">Man
                                    <br>Hour</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class='tBody'>
                    <table class="costtable" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr class="tr" ng-repeat="pt in generalCost1 track by $index">
                                <td class="td" style="width:5%;">{{pt.reportNo}}</td>
                                <td class="td" style="width:15%">{{pt.program}}</td>
                                <td class="td" style="width:10%">{{pt.inputFiles}}</td>
                                <td class="td" style="width:10%">{{pt.outputFile}}</td>
                                <td class="td" style="width:10%">{{pt.fields}}</td>
                                <td class="td" style="width:10%">{{pt.computatins}}</td>
                                <td class="td" style="width:20%">
                                    <input ng-value="geneCostPoint=pt.inputFiles*geneRec.inputFiles+pt.outputFile*geneRec.outputFile+pt.fields*geneRec.fields+pt.computatins*geneRec.computatins|number:2" readonly>
                                </td>
                                <!--{{pt.ManHour}}-->
                                <td class="td" style="width:20%">
                                    <input ng-value="manHour[$index]=geneCostPoint*geneRec.costPoint|number:2" readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="estimationRightTab2" ng-show="EstimationInit==EstimationItems[0]">
            <span class="grandTotal">Clone Analysis Savings:</span>
            <div class="tHead">
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr nborder">
                            <td class="td" style="width:13%">Clone Groups</td>
                            <td class="td" style="width:19%">Total LoC</td>
                            <td class="td" style="width:10%">Estimation Total LoC after Merge</td>
                            <td class="td" style="width:4%"> </td>
                            <td class="td" style="width:4%"> </td>
                            <td class="td" style="width:10%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td tdCenter" style="width:10%;">Cost Point Reduction</td>
                            <td class="td tdCenter" style="width:10%">Man Hour</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tBody">
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="tr nborder" ng-repeat="cr in cloneResults">
                            <td class="td" style="width:15%">group{{cr.groupNo}}</td>
                            <td class="td" style="width:20%">{{cr.paraCount}}</td>
                            <td class="td" style="width:15%">{{cr.combinedOutput}}</td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:5%"> </td>
                            <td class="td" style="width:10%">
                                <input ng-value="cr.costPoint|number:2" readonly/>
                            </td>
                            <td class="td" style="width:10%">
                                <input ng-value="cr.manHour|number:2" readonly/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="total">
                <span class="specialTxt">Estimation Summary</span>
                <table>
                    <tr>
                        <td>Total Cost:</td>
                        <td class="totalNum">${{withBudget|number:2 }}</td>
                        <td ng-show="withBudget-costRec.availableBudget>0" class="colorRed">(over budget)</td>
                        <td ng-show="withBudget-costRec.availableBudget<0" class="colorGreen">(within budget)</td>
                    </tr>
                    <tr>
                        <!-- <td>Time Span:</td>
                        <td class="totalNum">{{grandTotal/8|number:0}} days</td> -->
                        <td>Time Span:</td>
                        <td class="totalNum">{{grandTotal/costRec.teamSize/8|number:0}} days</td>
                        <td ng-show="grandTotal/costRec.teamSize/8-Time_Window>0" class="colorRed">(over time)</td>
                        <td ng-show="grandTotal/costRec.teamSize/8-Time_Window<0" class="colorGreen">(within time)</td>
                        <!-- <td>Days</td> -->
                        <!-- <td>Day</td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="estimationRightTab2" ng-show="EstimationInit==EstimationItems[1]">
            <span class="grandTotal">Clone Analysis Savings:</span>
            <div class="tHead">
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tr nborder">
                            <td class="td" style="width:10%">Clone Groups</td>
                            <td class="td" style="width:20%">Number of Paragraphs</td>
                            <td class="td" style="width:15%">total Loc</td>
                            <td class="td" style="width:15%"> Duplicated Loc</td>
                            <td class="td tdCenter" style="width:10%;">Cost Point</td>
                            <td class="td tdCenter" style="width:10%">Man Hour</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tBody">
                <table class="costtable" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="tr nborder" ng-repeat="cr in generalCost2">
                            <td class="td" style="width:10%">group{{cr.cloneGroup}}</td>
                            <td class="td" style="width:20%">{{cr.paragrapfNo}}</td>
                            <td class="td" style="width:15%">{{cr.totalLoc}}</td>
                            <td class="td" style="width:15%">{{cr.DuplicatedLoc}}</td>
                            <td class="td" style="width:10%">
                                <input ng-value="cr.costPoint|number:2" readonly/>
                            </td>
                            <td class="td" style="width:10%">
                                <input ng-value="cr.costPoint*geneRec.costPoint|number:2" readonly/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="total">
                <span class="specialTxt">Estimation Summary</span>
                <table>
                    <tr>
                        <td>Man Days:</td>
                        <td class="totalNum">{{manHourFun()/8|number:2}}</td>
                    </tr>
                    <tr>
                        <td>Total Cost:</td>
                        <td class="totalNum">${{manHourFun()*geneRec.hourlyRate|number:2 }}</td>
                        <td ng-show="manHourFun()*geneRec.hourlyRate-geneRec.availableBudget>0" class="colorRed">(over budget)</td>
                        <td ng-show="manHourFun()*geneRec.hourlyRate-geneRec.availableBudget<0" class="colorGreen">(within budget)</td>
                    </tr>
                    <tr>
                        <td>Time Span:</td>
                        <td class="totalNum">{{manHourFun()/geneRec.teamSize/8|number:2}} days</td>
                        <!-- <td>Days</td> -->
                        <td ng-show="manHourFun()/geneRec.teamSize/8-geneRec.timeWindow>0" class="colorRed">(over time)</td>
                        <td ng-show="manHourFun()/geneRec.teamSize/8-geneRec.timeWindow<0" class="colorGreen">(within time)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<modelshow-directive></modelshow-directive>