 <div class="btn-group dropdown" is-open="datasource.isopen"> 
    <button class="selectbtn dropdown-toggle"> {{$root.selectedName}} <span class="caret"></span> </button> 
      <!-- mediaType, site, chunk tree --> 
      <div class="col-sm-12 menuTree dropdown-menu" style="box-shadow: 0 1px 5px 0 #999;"> 
         <!--<button class="btn primary" ng-click="update(); datasource.isopen = false">Ok</button>-->
       <script type="text/ng-template" id="treeitem.html">
                                    <li ng-repeat="node in node.children | limitTo: 200">
                                        <a style="cursor: pointer" ng-click="node.collapse = !node.collapse">
                                            <i ng-class="node.children === undefined ? 'fa fa-file-text' : (node.collapse ? 'fa fa-minus' : 'fa fa-plus')"></i>
                                        </a>
                                        <label  class="treeinput">
                                            <!--<input type="checkbox" ng-model="node.selected" 
                                                ng-change="forward(node, node.selected); backward(node, node.selected)"  value="{{node.name}}">-->
                                                <input type="radio" ng-checked="node.selected" ng-if="node.children.length==0||!node.children.length"
                                                value="{{node.name}}" ng-click="update($event);datasource.isopen = false" name='radio'>
                                                <!--<input type="checkbox" ng-model="node.selected" ng-if="node.children.length>0"
                                                value="{{node.name}}" disabled="disabled">-->
                                            <span>{{ node.name }}</span>
                                        </label>
                                        <ul class="hierarchy-dropdown" ng-include="'treeitem.html'" ng-if="node.collapse"></ul>
                                    </li>
                                </script>
       <ul class="multi-column-dropdown"> 
        <li class="dropdown-header" style="margin-bottom: 5px;">Business Flow</li> 
        <li class="divider"></li> 
        <ul class="hierarchy-dropdown gropdown1"> 
         <li ng-repeat="node in nodes"> 
            <a style="cursor: pointer;display:inline;color:#123456;" ng-click="node.collapse = !node.collapse"> 
                <i ng-class="node.children === undefined ? 'fa fa-file-text' : (node.collapse ? 'fa fa-plus' : 'fa fa-minus')"></i>
            </a> 
            <label> 
                <!--<input type="checkbox" ng-model="node.selected" ng-change="forward(node, node.selected); backward(node.parent, node.selected)" />-->
                <!--<input type="checkbox" ng-model="node.selected" disabled=disabled;/>-->
                <input type="radio" ng-checked="node.selected" ng-if="node.children.length==0||!node.children.length"
                                                value="{{node.name}}" ng-click="update($event);datasource.isopen = false" name='radio'>
                 <span>{{ node.name }}</span>
            </label> 
          <ul class="hierarchy-dropdown" ng-include="'treeitem.html'" ng-if="!node.collapse"></ul> </li> 
        </ul> 
       </ul> 
      </div>
   </div>  
