.bTable{
	width:32%;
	height:445px;
	overflow-y:hidden;
  overflow-x:auto; 
  margin: 15px 0.15% 0 0.9%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 10px #E0E7EF;
	position: relative;
  display :inline-block;
}
.conBox{
  height: 92%;
  width: 100%;
  overflow: auto;
}
.btfirst svg{
  max-width: 100%!important;
}
/*小窗口*/
.bts svg{
  max-width: 180%!important;
  max-height:300px!important;
}
.btt svg{
  max-width: 70%!important;
  /*max-height:2000px!important;*/
  height:1000px!important;
  margin:0 15%;
}

.percentBox{
  color: #000;
  font-size: 12px;
  padding: 10px;
}
.legend text{
  text-anchor: middle !important;
}
.topBox{
  height:auto;
  /*overflow: auto;*/
  width: 100%;
  margin-bottom: 10px;
}
.topBoxTitle{
  font-weight: bold;
}
.bottomBox{
  width: 100%;
  height: 150px;
  overflow: auto;
}
.percentBox p{
  text-align: left;
  padding-left: 5px;
  margin: 0;
  font-size: 16px;
}
.percentBox p span{
  font-size: 16px;
}
.link{
  color: #184A8F;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}
.nolink{
  cursor: default!important;
  text-decoration: none!important;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.8);
    /* margin-left: -5px; */
    z-index: 9999;
}
/*.compareBox{
    width: 90%;
    height: 80%;
    background: #EAEEF2;
    margin: 6% auto;
    position: relative;
}
.compareTable{
  height: 90%;
  vertical-align: bottom;
  text-align: center;
}
.compare{
  width: 80%;
  height: 92%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #fff;
  color: #000;
}
.compare ul{
  margin:40px 20px;
  display: inline-block;
  width: 35%;
  float: left;
  height: 90%;
  overflow: auto;
}
.compare ul li{
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.compare ul li:hover{
  color: #184A8F;
  font-weight: 700;
  cursor: pointer;
}
.compare ul li:nth-child(odd){
  background: #F8F9FA;
}
.compareContent{
  display: inline-block;
  width: 55%;
  float: left;
  padding: 10px;
  margin: 40px 0;
}
.search{
  height: 8%;
  padding: 10px;
}
.search button{
  background: #1580FF;
  border-radius: 5px;
  border:none;
  height: 30px;
  width: 55px;
  }
.search input{
  color:#000;
  height: 30px;
}
.close{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.svgSelect{
    width: 250px;
    height: 30px;
    margin: 5px;
    font-size: 14px;
}
body md-content {
      background-color: #f7f7f7;
    }

    md-card-content pre {
      overflow: auto
    }

    .inputBox {
      min-height: 100px;
      width: 100%;
      background-color: #fff;
      border-color: #ccc;
      box-shadow: none;
      color: #000;
      resize: none;
      padding: 5px;
    }

    .match,
    .textdiff span {
      color: gray;
    }
.textdiff{
  max-height: 275px;
}
    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.nodes circle:hover{
  cursor: pointer;
}*/
.two{
  width: 48.5%;
}
.one{
  width: 98%;
}
.diffContent{
    width:90%;
    height: 90%;
    margin: 2% auto;
    background: #fff;
    padding: 10px;
}
.diffContent pre{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.diffContent textarea{
    resize: none;
    width: 98%;
    height: 98.5%;
    border-radius: 5px;
    overflow: auto;
}
.diffContent div{
    display: inline-block;
    
}
.diffList{
    width: 28%;
    vertical-align: top;
    height: 100%;
    position: relative;
}
.diffList ul{
    padding: 0;
    width: 100%;
}
.diffList li{
    list-style: none;
    border-bottom: 1px  solid #eee;
}
.next_list{
    overflow: hidden;
    position: absolute;
    top: 0;
    background: #eff4fb;
    left: 40%;
    border: 1px solid #aaa;
    border-radius: 5px;
    z-index: 9;
    box-shadow: 2px 4px 10px 1px #ccc;
    padding-left: 5px!important;
}
/* .thumbnail{
    position: absolute;
    right: 0;
    background: #dce7f7;
    box-shadow: 2px 4px 10px 1px #ccc;
    border: 1px solid #aaa;
    z-index: 1;
}    */
.first_list{
    overflow: auto;
    height: 95%;
}
/*.first_list li:hover{
    cursor: pointer;
    background: #e5e5e5;
}*/
.TList_li{
    height: 33%;
    overflow: auto;
}
.ttlist{
    height: 85%;
    overflow: auto;
}
.ttlist li{
    padding-left: 10px;
    cursor: pointer;
    color: #333;
}
.ttlist li:hover{
    cursor: pointer;
    background: #e5e5e5;
}
.compareContent{
    width: 70%;
    height: 90%;
}
.compareContent div{
    width: 49%;
    vertical-align: top;
    height: 95%;
}
.diff_result{
    margin: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    text-align: left;
}
.clicked{
    background: #c1dbff;
}
body md-content {
      background-color: #f7f7f7;
    }

    md-card-content pre {
      overflow: auto
    }

    .inputBox {
      min-height: 100px;
      width: 100%;
      background-color: #fff;
      border-color: #ccc;
      box-shadow: none;
      color: #000;
      resize: none;
      padding: 5px;
    }

    .match,
.textdiff span {
      color: gray;
}
    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.nodes circle:hover{
  cursor: pointer;
}
.group{
    cursor: pointer;
}
.under_line{
    text-decoration: underline;
}
/*table html*/
.contentBox{
    width:80%;
    height:80%;
    background: #fff;
    padding: 8px;
    margin: 5% auto;
    overflow: auto;
}
.middle_table{
    width: 45%;
    height: 90%;
    margin: 2% 5%;
}
.middle_table table{
    width: 100%;
}
.middle_table td{
    padding:5px;
    border: 1px solid #ccc;
}

.t1{
    width:35%;
}
.t2{
    width:50%;
}
.t3{
    width:25%;
}
.table_head{
    background: #c9e2ff;
}
.table_body{
    max-height: 90%;
    overflow: auto;
}
.table_body tr:nth-of-type(odd){
    background: #e5e5e5;
}
.table_body tr:nth-of-type(even){
    background: #fff;
}
.in_block{
    display: inline-block;
    vertical-align: top;
}
.left_nav{
    width: 20%;
    height:100%;
    overflow:auto;
    background: #fff;
    padding: 5px;
}
.list_li ul{
    border: 1px solid #ccc;
}
.list_li ul li{
 border-bottom: 1px solid #ccc;
 cursor: pointer;
 padding: 5px;
}
.list_li ul li:hover{
    background:#d6e2ee!important;
}
/* .selected{
    background:#d6e2ee!important;
} */
.list_li ul li:nth-of-type(odd){
    background: #d8d8d8
}
.list_li ul li:nth-of-type(even){
    background: #fff;
}
.programtext p,.programtext h4{
  color: #000;
}
.programtext p{
  text-align: left;
  text-indent: 2em;
}
.programtext{
  padding: 5px;
}
.programtext img{
  display: block;
}