<div class="detailBox content" id="summaryBox" ng-show="detail_view">
	<div class="detailHeader">
		<a class="soBrowser no-print" href="javascript:void(0);" ng-click='soBrowser()'>SO Browser</a>
		<a class="download" href="javascript:void(0);" ng-click="printSystemDocumentation()">
			<i class="fa fa-print iconColorGreen" aria-hidden="true" title="Print"></i>
		</a>
		<a class="download" href="javascript:void(0);" ng-click="downloadSystemDocumentation()">
			<i class="fa fa-download iconColorGreen" aria-hidden="true" title="Download"></i>
		</a>
		<ul class="nav nav-tabs detailNav">
			<li role="presentation" ng-repeat="detailNavInfo in detailNav" id="{{getTabMap(detailNavInfo.detailName).tabName}}">
				<a class="text" ng-click="detailTable(detailNavInfo.detailName)">{{getTabMap(detailNavInfo.detailName).tabName}}</a>
			</li>
		</ul>
	</div>

	<div class="tabBox">
		<system-summary-directive ng-if="'Summary'==getTabMap(detailNavTxt).tabName"></system-summary-directive>
		<program-detail-directive ng-if="'Programs'==getTabMap(detailNavTxt).tabName"></program-detail-directive>
		<paragraph-detail-directive ng-if="'Paragraphs'==getTabMap(detailNavTxt).tabName"></paragraph-detail-directive>
		<table-item-directive ng-if="'Tables'==getTabMap(detailNavTxt).tabName"></table-item-directive>
		<file-directive ng-if="'Files'==getTabMap(detailNavTxt).tabName"></file-directive>
		<copy-books-directive ng-if="'Copybooks'==getTabMap(detailNavTxt).tabName"></copy-books-directive>
		<jcl-directive ng-if="'JCL'==getTabMap(detailNavTxt).tabName"></jcl-directive>
		<sql-logical-directive ng-if="'SQL_Logic'==getTabMap(detailNavTxt).tabName"></sql-logical-directive>
	</div>
</div>
<iframe id='my-print' ng-show="detail_print"></iframe>
<modelshow-directive></modelshow-directive>