<div ng-controller="DormManagerCtrl" >
    <!--<div ng-include="config.tplPath + '/navbar.html'"></div>-->

    <!--<div class="container-fluid">-->
    <!--<div class="row">-->

    <!--<div class="col-sm-4 col-md-3 sidebar file-tree animated slow fadeIn" ng-include="config.tplPath + '/sidebar.html'" ng-show="config.sidebar &amp;&amp; fileNavigator.history[0]">-->
    <!--</div>-->

    <!--<div class="main" ng-class="config.sidebar &amp;&amp; fileNavigator.history[0] &amp;&amp; 'col-sm-8 col-md-9'">-->
    <!--<div ng-include="config.tplPath + '/' + viewTemplate" class="main-navigation clearfix"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div ng-include="config.tplPath + '/modals.html'"></div>-->
    <!--<div ng-include="config.tplPath + '/item-context-menu.html'"></div>-->
    <!--</div>-->
    <!--
        _/_/_/_/_/  _/_/_/_/  _/      _/    _/_/_/  _/_/_/    _/_/    _/      _/
           _/      _/        _/_/    _/  _/          _/    _/    _/  _/_/    _/
          _/      _/_/_/    _/  _/  _/    _/_/      _/    _/    _/  _/  _/  _/
         _/      _/        _/    _/_/        _/    _/    _/    _/  _/    _/_/
        _/      _/_/_/_/  _/      _/  _/_/_/    _/_/_/    _/_/    _/      _/
        -->


    <div class="view">
        <a class="left-menu-toggle">
            <span class="pane"></span>
            <span class="pane"></span>
            <span class="pane"></span>
        </a>
        <left-menu-module></left-menu-module>
        <!--<div class = "right-content">-->
            <!--<editor-module></editor-module>>-->
        <!--</div>-->
        <div class ="right-content" ui-view></div>


        <div class="modal system-modal fade" id="modalAjax" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content panel panel-primary">
                    <div class="modal-header panel-heading">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Title</h4>
                    </div>
                    <div class="modal-body panel-body">
                        Loading...
                    </div>
                    <div class="modal-footer panel-footer">
                        <div class="pull-left loader">
                            <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary modal-submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>