<div class="modal animated fadeIn" id="uploadfile">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="uploadFiles()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{"close" | translate}}</span>
                    </button>
                    <h4 class="modal-title">{{"upload_files" | translate}}</h4>
                </div>
                <div class="modal-body">
                    <label class="radio">
                        {{"files_will_uploaded_to" | translate}}
                        <b>/{{fileNavigator.currentPath.join('/')}}</b>
                    </label>
                    <button class="btn btn-default btn-block" ngf-select="$parent.addForUpload($files)" ngf-multiple="true" ng-model="uploadFile">
                        {{"select_files" | translate}}
                    </button>

                    <div class="upload-list">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="(index, uploadFile) in $parent.uploadFileList">
                                <button class="btn btn-sm btn-danger pull-right" ng-click="$parent.removeFromUpload(index)">
                                    &times;
                                </button>
                                <h5 class="list-group-item-heading">{{uploadFile.name}}</h5>
                                <p class="list-group-item-text">{{uploadFile.size | humanReadableFileSize}}</p>
                            </li>
                        </ul>
                        <div ng-show="apiMiddleware.apiHandler.inprocess">
                            <em>{{"uploading" | translate}}... {{apiMiddleware.apiHandler.progress}}%</em>
                            <div class="progress mb0">
                                <div class="progress-bar active" role="progressbar" aria-valuenow="{{apiMiddleware.apiHandler.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{apiMiddleware.apiHandler.progress}}%"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-include data-src="'error-bar'" class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{"cancel" | translate}}</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="!$parent.uploadFileList.length || apiMiddleware.apiHandler.inprocess">{{'upload' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
