<div class="detailBox content cloneCode">
    <div class="detailHeader">
        <ul class="nav nav-tabs detailNav">
            <li role="presentation" id="summary" class='active'>
                <a class="text" ng-click="cloneTab('summary')">Clone Summary</a>
            </li>
            <li role="presentation" id="group">
                <a class="text" ng-click="cloneTab('group')">Clone Group</a>
            </li>
            <li role="presentation" id="codecompare">
                <a class="text" ng-click="cloneTab('codecompare',true)">Clone Paragraph Compare</a>
            </li>
        </ul>
    </div>

    <div class="tabBox" style="padding: 0.5% 0">
        <div class="cloneSummary" ng-if="'summary'==cloneNavTxt" style="margin-left: 5%;">
            <div class="analysis">
                <h3 class="clearfix">There are
                    <strong>
                        {{cloneinfo.percent}}</strong>Cloned Codes found in
                    <strong class="programsNum">
                        {{cloneinfo.programCount}}</strong> programs. Those clone codes can be divided into
                    <strong class="programsNum linkFlag" ng-click="cloneTab('group')">
                        {{cloneinfo.groupCount}}</strong>
                    clone groups.</h3>
            </div>
            <div class="clonedead_chart">
                <div class="chartsContainer">
                    <p class="chartTitle">{{chartTitle}}</p>
                    <canvas id="pie_chart" class="chart chart-pie" chart-data="data1" chart-labels="labels1" chart-options="options1" chart-colors="colors1">
                    </canvas>
                </div>
            </div>
            <div class="tierType">
                <p><strong>Tier-1:</strong> 100% the same. These include all the variable names, command and text position. In this case, simply comparing the hash value will work.</p>
                <p><strong>Tier-2:</strong> Code syntax and structures are the same, with the exception that variable names are different, commands may not be in same row orders. This is pretty common code copy and paste. To deal with this, hide the variables or change it to meta-data, then tokenize the entire codes into vectors for comparison shall be a solution.</p>
                <p><strong>Tier-3:</strong> Code syntax and structures are 'similar' in the way that they are i) performing the same business functions ii) have similar input/output parameters but not exactly the same iii) similar structures (e.g same amount) with loop and conditional statements. To deal with this, a full conversion of codes to meta-data is needed, then compare the numbers of input and output variables, tokenize and doing vector comparison of the meta-data.</p>
            </div>
        </div>
        <div ng-if="'group'==cloneNavTxt">
            <div class="clonecode_table" style="margin-left:5%">
                <div>
                    <table class="clonecode_table_head">
                        <thead>
                            <td>Group#</td>
                            <td>Tier-1
                                <br>Paragraphs</td>
                            <td>Tier-2
                                <br>Paragraphs</td>
                            <td>Tier-3
                                <br>Paragraphs</td>
                        </thead>
                    </table>
                </div>
                <div class="clonecode_table_body">
                    <table class="code_table">
                        <tbody>
                            <tr ng-repeat="t in tierGroup track by $index">
                                <td ng-click="to_diff($index)" class="group under_line">{{$index+1}}</td>
                                <td>{{t.tier1Num}}({{t.tier1Loc}})</td>
                                <td>{{t.tier2Num}}({{t.tier2Loc}})</td>
                                <td>{{t.tier3Num}}({{t.tier3Loc}})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div ng-if="'codecompare'==cloneNavTxt">
            <div class="diffContent" style="width:100%;" ng-show="hasGroup">
                <a class="menuArrow" href="javascript:void(0);">
                    <i class="fa fa-chevron-circle-left" ng-click="arrowBtn()" title="Retracing Clone Group" ng-hide="isLeftArrow"></i>
                    <i class="fa fa-chevron-circle-right" ng-click="arrowBtn()" title="Expanding Clone Group" ng-hide="!isLeftArrow"></i>
                </a>
                <div class="diffList" ng-class="{'diffListEnter' : isLeftArrow}">
                    <div class="tierList" ng-mouseenter="$parent.ps=true" ng-show="$parent.thumbnail">
                        Tier-1</br>
                        Tier-2</br>
                        Tier-3</br>
                    </div>
                    <label>Group: </label>
                    <select id="groupSelect" ng-model="$parent.selectedGroup" ng-options="item.id for item in cloneGroup" ng-change='changeDiffInfo($parent.selectedGroup)'>
                    </select>
                    <h4>Cloned Paragraphs in Group</h4>
                    <ul class="TList first_list">
                        <li ng-class="{clicked: $index == focus1}" ng-repeat="list in tierParasInGroup.memberInfo track by $index" ng-click="pargraph_select($index,$event,list.id)"
                            id="list.id">{{list.name}}</li>
                    </ul>
                    <ul class="TList next_list" ng-show="$parent.ps" ng-mouseleave="$parent.ps=false;$parent.thumbnail=true;">
                        <li>
                            <h4>Clone Relations</h4>
                        </li>
                        <li class="TList_li" ng-if="Tier.tier_1.length!=0">
                            <h4>Tier-1</h4>
                            <ul class="T1List ttlist">
                                <li ng-class='{clicked: $index == focus2}' ng-repeat="l in Tier.tier_1 track by $index" ng-click="diff_select($index,$event,l)">{{l}}</li>
                            </ul>
                        </li>
                        <li class="TList_li" ng-if="Tier.tier_2.length!=0">
                            <h4>Tier-2</h4>
                            <ul class="T2List ttlist">
                                <li ng-class='{clicked: $index == focus2}' ng-repeat="l in Tier.tier_2 track by $index" ng-click="diff_select($index,$event,l)">{{l}}</li>
                            </ul>
                        </li>
                        <li class="TList_li" ng-if="Tier.tier_3.length!=0">
                            <h4>Tier-3</h4>
                            <ul class="T3List ttlist">
                                <li ng-class='{clicked: $index == focus2}' ng-repeat="l in Tier.tier_3 track by $index" ng-click="diff_select($index,$event,l)">{{l}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class='compareContent' ng-class="{'compConLeft' : isLeftArrow}">
                    <p class="diff_result">{{diffResult}}</p>
                    <diffchecker-directive name1='name1' name2='name2' left='left' right='right'></diffchecker-directive>
                </div>
            </div>
        </div>
    </div>
</div>
<modelshow-directive></modelshow-directive>