.cloneCode .analysis{
    margin-top: 2%;
}
.clonedead_chart{
    width: 500px;
    display: inline-block;
    height: 500px;
    background: #fff;
    float: left;
    margin-top: 3%;
}
.chartsContainer{
	width: 60%; 
	float: left;
}
.chartsContainer canvas{
	width: 100% ! important;
	height: 100% ! important;
	margin: auto auto;
}
.chartTitle{
	color: #898989;
	font-size: 18px;
}
.tierType{
    margin-top: 3%;
}
.tierType p{
    text-align: left;
}
.clonecode_table{
    height: 77%;
    width: 75%;
    display: inline-block;
}
.clonecode_table thead{
    background: #eff4fb;
    width: 100%;
}
.clonecode_table tbody{
    background: #fff;
}
.clonecode_table tr{
    width: 100%;
}
.clonecode_table td{
    padding: 10px 0!important;
    width: 120px;
    text-align: center;
    border: 1px solid #ddd;
    height: 45px;
}
/*clonedead*/
.clonecode_table_head{
    width: 100%;
}
.clonecode_table_head td{
    border: none;
}
.clonecode_table_body{
    max-height: 77%;
    overflow: auto;
}
.code_table{
    width: 100%;
}
.group{
    cursor: pointer;
}
.under_line{
    text-decoration: underline;
}
.diffContent .menuLeft{
    width:90%;
    height: 90%;
    margin: 2% auto;
    background: #fff;
    padding: 10px;
}
.diffContent .menuArrow{
    color: #ddd;
    position: absolute;
    top: 40%;
    left: -3%;
    font-size: 34px;
}
.diffContent pre{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
}
.diffContent div{
    display: inline-block;
}
.diffList{
    width: 28%;
    vertical-align: top;
    height: 100%;
    position: relative;
}
.diffList label{
    font-weight: bold;
}
.diffList ul{
    padding: 0;
    width: 80%;
    /*height: 100%;*/
}
.diffList li{
    list-style: none;
    border-bottom: 1px  solid #eee;
}
.next_list{
    overflow: hidden;
    position: absolute;
    top: 0;
    background: #eff4fb;
    left: 40%;
    border: 1px solid #aaa;
    border-radius: 5px;
    z-index: 9;
    box-shadow: 2px 4px 10px 1px #ccc;
    padding-left: 5px!important;
}
.tierList{
    position: absolute;
    right: 0;
    background: #dce7f7;
    box-shadow: 2px 4px 10px 1px #ccc;
    border: 1px solid #aaa;
    z-index: 1;
    padding: 4px;
    border-radius: 4px;
}
.first_list{
    overflow: auto;
}
.first_list li:hover{
    cursor: pointer;
    background: #e5e5e5;
}
.first_list li:hover
.TList_li{
    height: 25%;
    overflow: auto;
}
.clicked{
    background: #c1dbff;
}
.cloneCode .T1List{
    width: 100%;
}
.ttlist{
    height: 100%;
    overflow: auto;
}
.ttlist li{
    padding-left: 10px;
    cursor: pointer;
}
.ttlist li:hover{
    cursor: pointer;
    background: #e5e5e5;
}
.compareContent{
    width: 70%;
    height: 90%;
}
.compareContent div{
    width: 49%;
    vertical-align: top;
    height: 95%;
}
.compareContent .diff_result{
    margin: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    text-align: left;
    position: absolute;
    top:5px;
    left: 27.4%;
}
.compareContent .cloneCodeTxt{
    margin-top: 0;
}
.compConLeft{
    width: 100%;
    transition:1s linear 0s;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
.compConLeft .diff_result{
    left: 0;
    top: -36px;
    margin: 0;
}
body md-content {
    background-color: #f7f7f7;
}

md-card-content pre {
    overflow: auto
}
.inputBox {
    min-height: 100px;
    width: 100%;
    background-color: #fff;
    border-color: #ccc;
    box-shadow: none;
    color: #000;
    resize: none;
    padding: 5px;
}