.joblist{
    vertical-align: middle;
}
.joblist .modal-header{
    padding: 10px;
} 
.joblist .modal-header .dataSet{
    font-size: 18px;
    color: #fff;
}
/* .modal-body{
    padding-bottom: 0px;
}
.modal-body table{
    border: 1px solid #ddd;
} */
.modal-body table th{
    color: black;
    background-color: #EFF4FB;
}
.modal-body td{
    padding: 4px 0;
    width: 180px;
    text-align: center;
    border: none;
}
.modal-body .addData{
margin-top: 8px;
}
.modal-dialog{
    margin: 10% auto;
}